body {
    margin : 0em;
    font-family: 'Poppins', sans-serif;
    word-spacing: 0.3px;
}

/* h1{
    
} */



.top-container{
    /* background-color: #FFF5E4; */
    background-image: url(images/landing-background.jpg);
    margin-right: 0em;
    margin-left: 0em;
    width : 1900px;
    height : 980px;
    background-size: cover;
    position : relative;
    /* display : inline; */
}

.my-name{
    margin-top: 0em;
    color : #ffffff;
    position : absolute;
    top : 370px;
    left : 120px;
    font-size : 80px;
}

.designation-line-one{
    color : #ffffff;
    position : absolute;
    top : 450px;
    left : 125px;
    font-size: 20px;
}

.designation-line-two{
    color : #ffffff;
    position : absolute;
    top : 475px;
    left : 125px;
    font-size: 20px;
}

.light-name{
    font-weight: 200;
}

.skills{
    width: 30%;
    margin : auto;
    text-align: left;
    line-height: 1.5;
}

.skill-row{
    margin : 50px auto 100px auto;
}

.design-image{
    width: 30%;
    float: left;
    margin-right: 50px;
}

.engineering-image{
    width: 30%;
    float : right;
    margin-left : 50px;
}

.skills-heading{
    text-align : center;
    margin-top : 50px;
    font-size: 40px;
    color : #4b53e4;
}

.skill-one{
    font-size: 30px;
    color : #4b53e4;
}

.skill-two{
    font-size: 30px;
    color : #4b53e4;
}

.contact-heading{
    font-size: 40px;
    color : #4b53e4;
}

.contact-second-heading{
    font-size: 30px;
    color : #4b53e4;
    font-weight: 400;
}

.contact-me{
    text-align: center;
    margin : auto;
    width : 25%
}

.contact-description{
    margin-bottom: 50px;
}

.btn{

font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #4b53e4;
padding: 10px 30px;
border: solid #4b53e4 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
/* display: flex;
flex-direction: row; */
align-items: center;
cursor: pointer;
width : 20%;
/* margin : auto 150px; */
text-decoration: none;

}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #4b53e4;
border: solid 2px #4b53e4;
/* text-decoration: none; */
}

.bottom-container{
    margin-top: 50px;
    background-color: #4b53e4;
    height : 125px;
    text-align: center;
}

.footer-link{
    text-align: center;
    padding : 50px;
    position : relative;
    top : 20px;
    color : white;
    text-decoration: none;
}

.trademark{
    position : relative;
    top : 25px;
    color : white;
    text-decoration: none;
}
