body {
    margin : 0em;
    font-family: 'Poppins', sans-serif;
}

/* h1{
    
} */



.top-container{
    /* background-color: #FFF5E4; */
    background-image: url(images/landing-background.jpg);
    margin-right: 0em;
    margin-left: 0em;
    width : 1900px;
    height : 980px;
    background-size: cover;
    position : relative;
    /* display : inline; */
}

.my-name{
    margin-top: 0em;
    color : #ffffff;
    position : absolute;
    top : 370px;
    left : 120px;
    font-size : 80px;
}

.designation-line-one{
    color : #ffffff;
    position : absolute;
    top : 450px;
    left : 125px;
    font-size: 20px;
}

.designation-line-two{
    color : #ffffff;
    position : absolute;
    top : 475px;
    left : 125px;
    font-size: 20px;
}

.light-name{
    font-weight: 200;
}